#tooltip {
	display: none;
	color: #FFF;
	background-color: #000;
	position: absolute;
	float: left;
	padding: 15px;
	text-align: center;
	font-family: Arial;
}

.chartItem {
	border-color: #000;
	border-width: 1px;
	color: #FFF;
	padding: 5px;
	text-align: center;
	position: absolute;
	float: left;
}

.chartItem:hover {
	cursor: pointer;
	background-color: #336699;
}

.running {
	background-color: blue;
}

.notRunning {
	background-color: #CCC;
}

.runned {
	background-color: green;
}

.runned:hover {
	background-color: green;
}

.bar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
    margin-top: 10px;
}
.progress {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: green;
}
